<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-back-button></ion-back-button>
    <ion-title>Ah shit! Here we go again 😑</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">
      Title
    </ion-label>
    <ion-input placeholder="Title" [(ngModel)]="title" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Content
    </ion-label>
    <ion-input placeholder="Content" [(ngModel)]="content" required></ion-input>
  </ion-item>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button (click)="addItem()">
    <ion-icon name="checkmark-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
